.careers-grid {
  margin-top: 10px !important;
  margin-left: 0px !important;
  width: 100% !important;
}
.careers-grid-child1 {
  padding: 35px !important;
  text-align: left;
}
.careers-grid-child2 {
  padding: 15px !important;
}
.careers-grid-child2 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 20px !important;
  transition: transform 1s ease;
}
.careers-grid-child2 img:hover,
img:focus {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .careers-grid-child1 {
    text-align: center !important;
    padding: 10px !important;
  }
  .careers-grid-child2 {
    margin-top: 10px !important;
  }
}
