:root {
  --primary-color: #1b155e;
  --secondary-color: #116dad;
  --btn-weight: bold;
  --header-height: 90vh;
}

.hr-lines {
  color: var(--primary-color);
  text-align: center;
  font-size: 14px !important;
  position: relative;
  max-width: 500px;
  text-align: center;
  text-transform: uppercase !important;
}

.hr-lines:before {
  content: " ";
  display: block;
  height: 2px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: -25px;
  background: #1b155e;
}
.hr-lines:after {
  content: " ";
  height: 2px;
  width: 30px;
  background: #1b155e;
  display: block;
  position: absolute;
  top: 50%;
  right: -25px;
}
