:root {
  --primary-color: #1b155e;
  --secondary-color: #116dad;
  --primary-font: "Roboto", "Open Sans";
  --primary-font-size: 36px;
  --primary-font-weight: 700;
  --primary-letter-spacing: 1.5px;
  --secondary-font: "Work Sans";
  --secondary-font-weight: 400;
  --secondary-font-size: 20px;
  --secondary-letter-spacing: 1px;
  --btn-weight: bold;
  --header-height: 90vh;
}

.hr-lines {
  font-family: var(--secondary-font) !important;
  color: var(--primary-color);
  text-align: center;
  font-size: 14px !important;
  position: relative;
  max-width: 500px;
  text-align: center;
  text-transform: uppercase !important;
}

.hr-lines:before {
  content: " ";
  display: block;
  height: 2px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: -25px;
  background: #1b155e;
}
.hr-lines:after {
  content: " ";
  height: 2px;
  width: 30px;
  background: #1b155e;
  display: block;
  position: absolute;
  top: 50%;
  right: -25px;
}
