.appbar {
  background-color: white !important;
  color: black;
  size: 100px;
}
.tab {
  text-transform: none;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  color: black !important;
  text-decoration: none;
  display: inline-flex;
  font-weight: bold !important;
}

.tab:hover,
.tab.active {
  color: #1b155e !important;
}
.drawer {
  width: 0;
  transition: width 0.5s ease-in-out;
}

.drawer-paper {
  width: 250px;
  box-sizing: border-box;
}

.drawer-open {
  width: 250px;
}
.listitem {
  color: black;
  font-weight: bold;
}
