.appbar {
  color: black;
  size: 100px;
  background-color: white !important;
}
.tabs {
  margin-left: auto;
  display: flex;
}
.tab {
  text-transform: none;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  color: black !important;
  text-decoration: none;
  display: inline-flex;
  font-weight: bold !important;
}

.tab:hover,
.tab.active {
  color: var(--secondary-color) !important;
}
.activeTab {
  color: var(--secondary-color) !important;
}
.drawer {
  width: 0;
  transition: width 0.5s ease-in-out;
  padding-top: 5px;
}
.drawer-paper {
  width: 250px;
  box-sizing: border-box;
  color: black !important;
}
.drawer-open {
  width: 250px;
}
.drawer-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.drawer-close-icon {
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 5px;
  margin-right: 5px;
  align-items: center;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  animation: slideInOverlay 1s forwards;
}
.menu-icon {
  display: none !important;
}
.menu-icon:hover {
  background-color: transparent !important;
}
.overlay.close {
  animation: slideOutOverlay 2.5s forwards;
}

@keyframes slideInOverlay {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutOverlay {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@media (max-width: 900px) {
  .tabs {
    display: none !important;
  }
  .menu-icon {
    display: block !important;
  }
}
