.portfolio-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../static/images/service_bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 15px;
}
.portfolio-header {
  max-width: 800px;
  text-align: center;
  margin-top: 55px;
  color: white;
  font-weight: bold;
}
.portfolio-header > * {
  color: white;
  text-align: center;
  line-height: 1.1em;
  animation: fadeIn 1.5s forwards;
  font-size: 70px !important;
  text-transform: capitalize !important;
}
.portfolio-body-child1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: auto;
  font-weight: bold;
  width: 100%;
}
.inner-child1 {
  width: 100%;
  padding: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}
.inner-child1 > * {
  padding: 15px;
}
.inner-child2 {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.portfolio-body-child2 {
  padding: 40px;
}
.portfolio-body-child2 .MuiTab-root.Mui-selected {
  background-color: black;
  color: white;
}
.portfolio-grid {
  margin-top: 5px !important;
}
.portfolio-card {
  transform-origin: bottom;
  height: 270px;
  padding: 20px;
  box-shadow: 5;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 20px !important;
}

.card-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
  box-sizing: border-box;
  opacity: 0.3s;
  padding: 30px;
}
.typography {
  color: white;
  padding: 10px;
}
.icon-button {
  background-color: black !important;
  color: white !important;
  margin-left: 7px !important;
}
.portfolio-card:hover .card-content {
  bottom: 0;
  opacity: 1;
}
.portfolio-card:hover .typography {
  animation: fadeIn 1.5s forwards;
}
.portfolio-card:hover .icon-button {
  animation: fadeIn 1.5s forwards;
}
.button-container {
  text-align: center;
  margin-top: 5px;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: white !important;
  background-color: black !important;
  font-weight: bold !important;
}
@media (max-width: 768px) {
  .portfolio-header > * {
    font-size: 36px !important;
  }
  .portfolio-body-child2 .MuiTabs-flexContainer {
    flex-wrap: wrap !important;
  }
}
