.service-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url(../static/images/services_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--header-height);
  padding-top: 20px;
}

.service-header {
  font-weight: bold;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
}
.header-content {
  position: relative;
  height: 80%;
  top: 50px;
  max-width: 800px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  animation: slideFromBottom 1.5s forwards, fadeIn 1.5s forwards;
}
.grid {
  margin: 0 auto;
  justify-content: "center";
  align-items: center;
  text-align: center;
}
.grid-item {
  margin-bottom: 10px !important;
}
.service-card {
  position: relative;
  height: 300px;
  padding: 5px;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(115, 155, 208, 0.5) !important;
  border-radius: 20px !important;
}
.service-card-content {
  text-align: center;
  padding: "10px";
}
.service-card-content > * {
  margin-top: 10px;
  margin-bottom: 25px;
}
.service-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to top,
    rgba(137, 207, 240, 0.5) 0%,
    rgba(0, 71, 171, 0.7) 100%
  );
  height: 0;
  transition: height 0.5s ease;
}
.service-card:hover .service-card-overlay {
  height: 100%;
}
.service-card:hover .service-card-content {
  color: white;
}
.service-card:hover .MuiSvgIcon-root {
  fill: #fff;
}

@keyframes fadeIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .header-content {
    width: 100%;
    height: 100%;
  }
  .header-content > h3 {
    font-size: 36px !important;
    font-weight: 500 !important;
    margin-bottom: 15px;
  }
  .service-body {
    padding: 20px;
  }
  .body-child1 > h3 {
    font-size: 36px !important;
    font-weight: 500 !important;
  }
  .inner-child1 {
    width: 100% !important;
    padding: 0px !important;
  }
  .inner-child1 > * {
    padding: 0px !important;
  }
}
