.technology-menu {
  display: flex !important;
  flex-direction: row !important;
  padding: 15px !important;
}
.technology-tabs {
  border-right: 1 !important;
  width: 30% !important;
}
.panel {
  width: 70% !important;
}
.technology-tabs .MuiButtonBase-root {
  align-items: flex-start !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  color: black !important;
}
.technology-tabs .MuiButtonBase-root.MuiTab-root.Mui-selected {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  ) !important;
  color: white !important;
  padding: 20px !important;
}
.technology-tabpanel .css-19kzrtu {
  padding: 15px 24px 0px 24px !important;
}
.technology-tabpanel .css-ahj2mt-MuiTypography-root {
  align-items: left !important;
  text-align: left !important;
}
.technology-tabpanel .css-ahj2mt-MuiTypography-root > * {
  margin-bottom: 10px !important;
}
.technology-grid {
  padding: 10px !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  display: flex !important;
}
.technology-grid > * {
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}
.home-grid {
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  width: 85% !important;
  margin: 0 auto !important;
}
.home-grid .child-grid {
  display: flex;
  height: 200px !important;
  margin-bottom: 20px;
}
.child-grid .left .logo-container {
  border: 1px solid black;
  border-radius: 70%;
  width: 50px;
  height: 50px;
  padding-top: 10px;
}
.home-grid .child-grid .right {
  text-align: left;
  color: #616669;
  padding: 0px;
}
.home-grid .child-grid .right .heading {
  color: black;
}
.logo {
  width: 90px !important;
  height: 90px !important;
  margin-bottom: 15px !important;
  display: block;
  margin: 0 auto;
}
.logo:hover,
.logo:focus {
  transform: scale(1.2);
}
.techbody-child2 {
  padding: 40px;
  width: 100% !important;
}
@media (max-width: 900px) {
  .technology-tabs {
    width: 50% !important;
    overflow: auto !important;
  }
  .home-grid .child-grid .left > * {
    margin: 0 auto;
  }
  .home-grid .child-grid .right {
    margin-top: -20px;
    text-align: center;
  }
  .home-grid .child-grid .right > * {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .technology-menu {
    margin-top: 20px;
    flex-direction: column !important;
  }

  .technology-tabs {
    width: 100% !important;
  }
  .panel {
    margin-top: 10px !important;
    width: 100% !important;
  }
  .technology-tabs .MuiTabs-flexContainer {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    padding: 5px !important;
    justify-content: center !important;
  }
  .technology-tabs .MuiButtonBase-root {
    width: 180px !important;
    padding: 0px !important;
    align-items: center !important;
  }
  .technology-tabs .MuiButtonBase-root.MuiTab-root.Mui-selected {
    padding: 0px !important;
  }
  .techbody-child2 {
    padding: 0px !important;
  }
  .home-grid .child-grid .left > * {
    margin: 0 auto;
  }
}
